@import "@foldworks/ui/base.css";
@import "@foldworks/ui/themes/neutral.css";
@import "@foldworks/ui/themes/zinc.css";
@import "@foldworks/ui/themes/blue.css";
@import "@foldworks/ui/themes/soft.css";
@import "@foldworks/code-editor/styles.css";
@import "./code-editor/styles.css";
@import "@foldworks/data-grid/styles.css";
@import "@foldworks/data-table/styles.css";
@import "@foldworks/pdf-annotator/styles.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
}
