@import "@foldworks/ui/base.css";
@import "@foldworks/ui/themes/neutral.css";
@import "@foldworks/ui/themes/zinc.css";
@import "@foldworks/ui/themes/blue.css";
@import "@foldworks/data-grid/styles.css";
@import "@foldworks/pdf-annotator/styles.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
}

button,
input,
select,
textarea {
  font: inherit;
}
